@import url('https://fonts.googleapis.com/css?family=Caveat|Itim|Kalam|Patrick+Hand|Patrick+Hand+SC|Pangolin|Berkshire+Swash|Caveat+Brush|Shadows+Into+Light+Two|Tillana|Montserrat|Open+Sans+Condensed:300|Raleway|Source+Sans+Pro|Baloo|Cherry+Swash|Corben|Kelly+Slab|Modak|Mogra|Oregano|Ribeye+Marrow|Sacramento|Allura|Amatic+SC|Courgette|Dancing+Script|Didact+Gothic|Dosis|Englebert|Forum|Glass+Antiqua|Grand+Hotel|Great+Vibes|Kalam|Kaushan+Script|Life+Savers|Limelight|Marck+Script|Mukta+Malar|News+Cycle|Nunito|Pacifico|Patrick+Hand|Playball|Poiret+One|Rajdhani|Varela+Round');


/*

font-family: 'Dosis', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Didact Gothic', sans-serif;
font-family: 'Varela Round', sans-serif;
font-family: 'Rajdhani', sans-serif;
font-family: 'News Cycle', sans-serif;
font-family: 'Mukta Malar', sans-serif;
font-family: 'Englebert', sans-serif;
font-family: 'Dancing Script', cursive;
font-family: 'Amatic SC', cursive;
font-family: 'Poiret One', cursive;  naravno
font-family: 'Courgette', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Kaushan Script', cursive;
font-family: 'Kalam', cursive;
font-family: 'Pacifico', cursive;  zanimljivo?
font-family: 'Limelight', cursive;  predebeo?
font-family: 'Allura', cursive;
font-family: 'Forum', cursive;
font-family: 'Grand Hotel', cursive;
font-family: 'Glass Antiqua', cursive;
font-family: 'Sacramento', cursive;
font-family: 'Kelly Slab', cursive;
font-family: 'Oregano', cursive;
font-family: 'Cherry Swash', cursive;
font-family: 'Corben', cursive;
font-family: 'Mogra', cursive;
font-family: 'Ribeye Marrow', cursive;
font-family: 'Baloo', cursive;
font-family: 'Berkshire Swash', cursive;
font-family: 'Shadows Into Light Two', cursive;
font-family: 'Caveat Brush', cursive;
font-family: 'Patrick Hand', cursive;
font-family: 'Tillana', cursive;
font-family: 'Pangolin', cursive;
font-family: 'Patrick Hand SC', cursive;
font-family: 'Caveat', cursive;
font-family: 'Kalam', cursive;
font-family: 'Patrick Hand', cursive;
font-family: 'Itim', cursive;
*/

@font-face {
	font-family: "Crushine Brush Script";
	src: url("fonts/Crushine Brush Script.otf") format("opentype");
      font-family: "Summer";
      src: url("fonts/Summer Font Regular.otf") format("opentype");
      /*src: url("fonts/Summer Font Regular Italic.otf") format("opentype");
      src: url("fonts/Summer Font Light.otf") format("opentype");      
      src: url("fonts/Summer Font Light Italic.otf") format("opentype"); */
      src: url("fonts/Summer Font Bold.otf") format("opentype");
      /*src: url("fonts/Summer Font Bold Italic.otf") format("opentype"); */
	
}

.btn-share {
	margin: 30px !important;
}

body {
	background-image: url('bgr.png') !important;
      background-repeat: repeat;
    	background-attachment: fixed;
    	background-position: left-top; 
}

body p {
	font-size: 1.1rem;
	font-family: 'Nunito', sans-serif;
	padding-left: 15px;
	padding-right: 15px;
}
.coverimg {
   width: 100vw;
    /*border: 1px solid black; */
    object-fit: scale-down;


  }

.cover {
background-image: url('cover2.jpg') !important;
width: 100vw;
    /*border: 1px solid black;*/
    object-fit: scale-down;
    position: absolute;
    top: 120px;
    left: 0;
  }

.main {
	background-color: #ffffff;
	box-shadow: 0 0 6px #ddd;
	margin: -50px 70px 0 70px;
	padding: 10px 50px;
  z-index: 5;
}

nav.navbar {
      z-index: 20;
	background-color: #fff !important;
	margin: 0px -30px 0 0;
	padding: 0 0 0 0;
	font-family: 'Summer', cursive;
	font-weight: bold;
	border-bottom: 3px dashed #70b54a !important;

}


a.nav-link:link, a.nav-link:visited {
	color: #59b956;
	font-size: 2.5rem;
}

a.nav-link:hover, a.nav-link:active {
	color: #59b956;
	font-size: 2.5rem;
}


.navbar img {
	height: 90px;
}

li.nav-item {
  margin-left: 0 !important;
  margin-right: 5px !important;
  padding-left: 0px !important;
}

ul.nav {
    padding-right: 20px;
}
.neon {
  margin: 0 auto;
  text-align: center;
  color: #ff02f6;
  text-shadow: 0 0 10px #ff02f6, 0 0 15px #ff02f6;
}

#logging a:link, #logging a:visited {

	font-size: 0.5 rem;
	font-family: 'Nunito', sans-serif;
	color: #fff;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 2px;
	margin-right: 5px;
	margin-left: 5px;

}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Crushine Brush Script', cursive;
	color: #503723 !important;

}

h1 {
  font-size: 3.5rem !important;
}

h2 {
   font-size: 2.5rem !important;
}

h4 {
  font-family: 'Cherry Swash', cursive;
}

.lead {

	font-family: 'Englebert', cursive;
}

a.animated{
    color:#59b956;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    position: relative;
    margin-bottom: 2px;
}

a.animated:after {
    width: 0%;
    height: 2px;
    background: #59b956;
    content: '';
    position: absolute;
    left: 0;
    bottom: 0px;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
a.animated:hover {
    color: #59b956;
}
a.animated:hover:after {
   width: 100%;
}
 
 #main-logo {
      margin-left: 20px !important;
 }


footer a.nav-link:link, footer a.nav-link:visited {
	color: #59b956;
	font-size: 0.9rem;
}

footer a.nav-link:hover, footer a.nav-link:active {
	color: #2c9d29;
	font-size: 0.9rem;
}

footer {
	padding-bottom: 20px;
	padding-top: 0px;
	background-color: #ead09f !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #d1e3d2;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #28a745 !important;
  color: white; }

  .select2-container--classic .select2-results__option--highlighted[aria-selected] {
  background-color: #28a745;
  color: white; }

.green {
	color: #28a745 !important;
	size: 2rem;
}  

.green a:hover {
	color: #ffffff !important;
}

.recipelist {
	font-family: 'Nunito', sans-serif;
	text-transform: uppercase;
	font-weight: 500;
}

.recipelist a:link, .recipelist a:visited{
	color: #212121 !important;
}

.recipelist a:hover, .recipelist a:active{
	color: #28a745 !important;
	text-decoration: none !important;
}


a:active, a:hover {
	text-decoration: none !important;
}

p.desc  {
	text-align: left !important;
	font-size: 0.9rem;
	font-family: 'Montserrat', sans-serif;
	font-style: italic;

}

.cats {
	padding-right: 15px !important;
	padding-left: 15px !important;
	padding-top: 2px !important;
	padding-bottom: 2px !important;
	margin-left: 15px;
	margin-right: 5px;
	color: #ffffff !important;
	font-size: 0.6rem;
}

.cats:hover {
	color: #ffffff !important;
}

.table td {
	font-size: 1.1rem !important;
	margin-left: -5px !important;
}

.table {
	margin-left: -5px !important;
}

.ingrlist {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 1rem;
	text-transform: uppercase;
}


.razmak {
	padding: 25px !important;
	margin: 30px !important;
	border: 1px solid #ddd;
	box-shadow: 0 0 6px #ddd;
	text-align: center;
	background-color: #fff;
}

.margins {
	margin-left: 20px !important;
	margin-right: 20px !important;
}

img.img-fluid {
	border: 1px solid #ddd;
}

div.beige {
	background-color: #ead09f !important;
	height: 30px;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 995;

}

.navigacija {
	position: center;
	z-index: 996;
	width: 100%;
}

.nopadding {
	padding: 0 !important;
}

footer {
	margin: -15px !important;
	margin-top: -25px !important;
}

.beige {
	text-align: right;
	width: 100%;
}

div.row.beige img {
	
	height: 20px;
	width: 20px;
	margin: 5px;
}

.top-right {
	position: absolute;
	top: 0;
	right: 15px;
	text-align: right;
	background-color: #ead09f !important;
}

a.nav-link.animated {
	padding-bottom: 3px;
}

a.kats {
	margin: 3px !important;
	color: #ffffff !important;

}

a.kats-pretraga {
	margin: 5px !important;
	padding:  0 4px 1px 4px !important;
	color: #ffffff !important;
	background-color: #8e949a !important;
	border: 1px solid #a9b0b6 !important;
	
}

div.check-rejting {
	margin-left: 15px !important;
}

a#reset {
	color: #fff !important;
}


/* new button */

#ballMenuContainer {
    position: absolute;
    left:-35px;
    top:-57px;
    z-index: 898;
}


.menuBall {
    position: relative;
    width: 95px;
    height: 95px;
    margin: 5px;
    display: inline-block;
    z-index: 800;
}

#menuBall2{
    z-index: 800;
}

.ball {
    position:absolute;
    width:100%;
    height:100%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    border: 2px dashed #cccccc;
    margin: 10px;
    text-decoration: none;
     -webkit-transition: -webkit-transform .2s linear;
     -moz-transition: -moz-transform .2s linear;
    -o-transition: -o-transform .2s linear;
    transition: transform .2s linear;
}

.ball:hover {
   /* -webkit-animation: pulse 1s ease 0s infinite normal;
    -o-animation: pulse 1s ease 0s infinite normal;
    -moz-animation: pulse 1s ease 0s infinite normal;
    animation: pulse 1s ease 0s infinite normal; */
     -webkit-transform: scale(1.05) ; 
      -moz-transform: scale(1.05) ;
      -o-transform: scale(1.05) ; 
      transform: scale(1.05) ; 
  }

  .ball:active {
     -webkit-transform: scale(1) ; 
     -moz-transform: scale(1) ;
     -o-transform: scale(1) ; 
      transform: scale(1) ; 
  }

.redball {
    background-color: #d90e23;
    -moz-box-shadow: 0 0 0 3px #d90e23, 2px 1px 4px 4px rgba(10,10,0,.5);
    -webkit-box-shadow: 0 0 0 3px #d90e23, 2px 1px 4px 4px rgba(10,10,0,.5);
    -o-box-shadow: 0 0 0 3px #d90e23, 2px 1px 4px 4px rgba(10,10,0,.5);
    box-shadow: 0 0 0 3px #d90e23, 2px 1px 6px 4px rgba(10,10,0,.5);
  
    background-image: -moz-linear-gradient(0deg, rgba(0,0,0,.25) 50%, transparent 10%),-moz-linear-gradient(rgba(0,0,0,.25) 50%, transparent 50%);
    background-image: -webkit-linear-gradient(0deg, rgba(0,0,0,.25) 50%, transparent 10%),-webkit-linear-gradient(rgba(0,0,0,.25) 50%, transparent 50%);
    background-image: -o-linear-gradient(0deg, rgba(0,0,0,.25) 50%, transparent 10%),-o-linear-gradient(rgba(0,0,0,.25) 50%, transparent 50%);
    background-size:10px 10px;
}

.menuText {
    font-family: 'Pacifico', cursive ;
    font-size: 1.3rem;
    color: #ffffff;
    position: relative;
    vertical-align: middle;
    text-align: center;
    top: 17%;
}

/*
#menuBall2 {
  -webkit-animation: bump 6s linear .5s infinite normal;
}

#menuBall2 {
  -moz-animation: bump 6s linear .5s infinite normal;
}

#menuBall2 {
  -o-animation: bump 6s linear .5s infinite normal;
}
#menuBall2 {
  animation: bump 6s linear .5s infinite normal;
}

*/

.white {
  color: #fff !important;
}

.text-shadow {
      text-shadow: 0 0 6px #bfbfbf;
}


input[type='checkbox'] {
    display: none !important;
  }











